@import '../../../scss/global.scss'

.codeView
    position: relative
    display: inline-block
    color: $electricBlue
    white-space: pre

.codeTooltip
    position: absolute
    visibility: hidden
    white-space: nowrap
    background-color: black
    color: #fff
    text-align: center
    border-radius: 6px
    padding: 5px 0
    z-index: 1
    width: 120px
    top: 100%
    left: 50%
    margin-left: -60px

.codeView:hover .codeTooltip
    visibility: visible